[Unit]
Description=Blackbox Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ blackbox_exporter_user }}
Group={{ blackbox_exporter_group }}
Type=simple
ExecStart={{ blackbox_exporter_bin_path }} --config.file {{ blackbox_exporter_config_dir }}/blackbox.yml --web.listen-address="0.0.0.0:9115"

Restart=always

[Install]
WantedBy=multi-user.target